# bagel
decord==0.6.0
einops==0.8.1
huggingface_hub==0.29.1
matplotlib==3.7.0
numpy==1.24.4
opencv_python==4.7.0.72
pyarrow==11.0.0
PyYAML==6.0.2
Requests==2.32.3
safetensors==0.4.5
scipy==1.10.1
sentencepiece==0.1.99
torch==2.5.1
torchvision==0.20.1
transformers==4.49.0
#flash_attn==2.5.8
accelerate>=0.34.0
wandb
gradio
setuptools
wheel
ninja
bitsandbytes
xlsxwriter
triton ; sys_platform != 'win32'
triton-windows ; sys_platform == 'win32'

# qwen
#transformers==4.51.3 
transformers>=4.57.0
accelerate
qwen-vl-utils

# reflexion
gym==0.26.2
joblib==1.2.0
langchain==0.0.162
numpy==1.24.1
python-dotenv==1.0.0
tenacity==8.2.2
tiktoken==0.4.0
transformers==4.28.1
pandas==1.5.3
scikit-learn